<h4>Handlinger:</h4>
<div class="h-75" style="overflow: auto">
<table *ngIf="logItems" class="table table-striped table-bordered">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Besked</th>
    <th scope="col">Bruger</th>
    <th scope="col">Dato</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let logItem of logItems">
    <th scope="row">{{logItem.id}}</th>
    <td>{{logItem.message}}</td>
    <td>#{{logItem.user.id}} {{logItem.user.username}}</td>
    <td>{{logItem.date | date: 'medium'}}</td>
  </tr>

  </tbody>

</table>

<app-alert-message #alertMessage></app-alert-message>
</div>
