<div *ngIf="boothBooked" class="bookbooth text-center mb-1">
  <button class="btn btn-primary" (click)="openModal(template)" >Annuller booking</button>
</div>
<app-alert-message #alertMessage></app-alert-message>
<alert class="text-center" *ngIf="success" type="success">
  <strong>Succesfuld Annullering</strong> Det lykkedes at annullere bord nummer: {{boothId}}
</alert>

<ng-template #template>
  <div class="modal-header">
    <h5 class="modal-title">Annuller booking</h5>
    <button type="button" class="close" (click)="decline()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Er du sikker på at du vil annullere din booking?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary w-100" (click)="decline()">Nej</button>
    <button type="button" class="btn btn-danger w-100" (click)="confirm()">Ja</button>
  </div>
</ng-template>
