<div *ngIf="boothBooked" class="bookbooth text-center mb-1">
  <button class="btn btn-primary" (click)="openModal(template)" >Annuller booking</button>
</div>
<alert class="text-center" *ngIf="success" type="success">
  <strong>Succesfuld Annullering</strong> Det lykkedes at annullere bord nummer: {{boothBooked.id}}
</alert>
<alert class="text-center" *ngIf="error" type="warning">
  <strong>Reservationen af standen blev ikke annulleret</strong> {{errorMessage}}
</alert>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Er du sikker på at du vil annullere din booking?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Ja</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Nej</button>
  </div>
</ng-template>
