<app-add-booth></app-add-booth>
<br>
<table *ngIf="booths" class="table table-striped table-hover table-bordered table-small-coloum">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col" class="text-left">Booker</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let booth of booths">
    <th scope="row">{{booth.id}}</th>
    <td *ngIf="booth.booker">{{booth.booker.username}}</td>
    <td *ngIf="!booth.booker">Ledig</td>
    <td>
      <div>
        <button routerLink="/admin/booths/edit/{{booth.id}}" class="btn btn-secondary mr-1">Rediger</button>
        <app-booth-delete [boothId]="booth.id" (deleted)="alertHandler($event)"></app-booth-delete>
      </div>
    </td>
  </tr>
  </tbody>
</table>
<div *ngFor="let alert of alerts">
  <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onAlertClosed(alert)" [dismissible]="true"><strong>{{ alert.msgStrong }}</strong> {{ alert.msg }}</alert>
</div>
