<table *ngIf="booths" class="table table-striped table-hover table-bordered table-small-coloum">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col" class="text-left">Booker</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let booth of booths">
    <th scope="row">{{booth.id}}</th>
    <td *ngIf="booth.booker">{{booth.booker.username}}</td>
    <td *ngIf="!booth.booker">Ledig</td>
    <td><app-booth-delete [boothId]="booth.id" (deleted)="messageHandler($event)"></app-booth-delete></td>
  </tr>
  </tbody>
</table>
<div *ngIf="errorOccured">
  <p>{{errorMessage}}.</p>
</div>
