<div class="text-center mb-1">

  <div class="row">

    <div class="col-centered" style="width: 300px; text-align: center;">
      <form [formGroup]="loginForm" (ngSubmit)="Login()">
        <div class="form-group">
          <label>Brugernavn:</label>
          <input type="text" class="form-control" formControlName="username" placeholder="Skriv brugernavn...">
        </div>
        <div class="form-group">
          <label>Kodeord:</label>
          <input type="text" class="form-control" formControlName="password" placeholder="Skriv kodeord...">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>


  </div>
</div>
