<div class="mx-auto" style="min-width: 80px; max-width: 400px; text-align: center;">
  <form [formGroup]="loginForm" (ngSubmit)="Login()">
    <div class="form-group">
      <label>Brugernavn:</label>
      <input type="text" class="form-control" formControlName="username" placeholder="Skriv brugernavn...">
    </div>
    <div class="form-group">
      <label>Kodeord:</label>
      <input type="password" class="form-control" formControlName="password" placeholder="Skriv kodeord...">
    </div>

    <button type="submit" class="btn btn-primary mb-3">Login</button>

    <div *ngFor="let alert of alerts">
      <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onAlertClosed(alert)" [dismissible]="true"><strong>{{ alert.msgStrong }}</strong> {{ alert.msg }}</alert>
    </div>

    <p><a routerLink="/createUser">Opret bruger</a></p>
  </form>
</div>
