<div class="row mx-auto">
  <div class="col">
    <div *ngIf="imgUrl">
      <h5>Hal 1:</h5>
      <img src="{{imgUrl.url}}" alt="Bord Plan" class="mr-auto w-100 notToBig">
    </div>
  </div>
  <div class="col-md-6 mt-md-0 mt-3">
    <h5>Hal 2:</h5>
    <img src="{{imgUrl.url}}" alt="Bord Plan" class="ml-auto w-100 notToBig">
  </div>
</div>
<div *ngFor="let alert of alerts">
  <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onAlertClosed(alert)" [dismissible]="true"><strong>{{ alert.msgStrong }}</strong> {{ alert.msg }}</alert>
</div>
