<div class="mx-auto"  style="min-width: 200px; max-width: 400px;">
  <form [formGroup]="boothForm" (ngSubmit)="editBooth()">

    <div class="form-group">
      <label>
        Standholder:
      </label>
      <input class="form-control" type="number" placeholder="Bruger id" formControlName="booker">
      <small class="form-text text-muted">
        Hvis standen ikke skal have en standholder, så undlad at sætte noget ind i feltet.
      </small>
    </div>

    <button class="btn btn-primary" type="submit">Gem</button>
  </form>
  <div class="mt-3">   <app-alert-message #alertMessage></app-alert-message> </div>
</div>

