.bookbooth
{
  margin-top:10px;
}

div.scrollList {
  max-width: 400px;
  max-height: 500px;
  min-height: 200px;
  overflow-y: auto;
  box-shadow: 4px 4px 15px -8px rgba(0,0,0,0.5);
}

div.scrollListSmall {
  min-height: 200px;
  max-height: 500px;
  background-color: transparent;
  overflow-y: auto;
  box-shadow: 4px 4px 15px -8px rgba(0,0,0,0.5);
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3E81CE; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
