<div *ngIf="!loading && !empty" class="row mx-auto" style="max-width: 860px">
  <app-image-for-booking></app-image-for-booking>
  <div class="col">
    <h5>Tilgængelige stande:</h5>
    <div class="scrollList rounded">
      <table class="w-100 table-striped">
        <tr class="my-3 w-100" *ngFor="let boothItem of booths">
          <td>Stand nummer: {{boothItem.id}}</td>
          <td><button class="btn btn-success float-right" (click)="addToBeBooked(boothItem)"><i class="fas fa-plus"></i></button></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="col-md-6">
    <h5>Dine Valg:</h5>
    <div style="max-width: 400px;">
      <div class="scrollListSmall rounded">
        <table class="w-100 table-striped">
          <tr class="my-3 w-100" *ngFor="let boothItem of boothsToBook">
            <td>Stand nummer: {{boothItem.id}}</td>
            <td><button class="btn btn-danger btn-outline float-right" (click)="RemoveFromtobeBooked(boothItem)"><i class="fas fa-times"></i></button></td>
          </tr>
        </table>
      </div>
      <button class="btn btn-primary offset-4 my-3" (click)="BookBooths()">Reserver stande</button>
    </div>
  </div>
</div>

<!-- If there are no booths it should be possible to get on the waiting list-->
<div class="text-center" *ngIf="!loading && empty">
  <h5>Der er ingen tilgænglige stande men du kan komme på ventelisten:</h5>
  <button (click)="AddToWaitinglist()" class="btn btn-lg btn-primary">
    Kom på venteliste
  </button>
  <br>
  <small>OBS. På ventelisten er det <u>ikke</u> muligt at have flere stande.</small>
</div>

<!-- Loading when the booths haven't yet arrived-->
<div *ngIf="loading">
  <div class="loader mx-auto"></div>
</div>

<!-- Alerts-->
<div *ngFor="let alert of alerts">
  <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onAlertClosed(alert)" [dismissible]="true"><strong>{{ alert.msgStrong }}</strong> {{ alert.msg }}</alert>
</div>
