<div class="text-center">
  <h3 *ngIf="error">{{errorMessage}}</h3>
  <div *ngIf="(!error) && (booth != null)">
    <h3>Du har stand nummer: {{booth.id}}</h3>
    <app-show-reservation-booth></app-show-reservation-booth>
  </div>
  <h3 *ngIf="(!error) && (booth == null) && (numberInWaitingList < 1)">Der er ingen reservation.</h3>
  <div *ngIf="(!error) && (booth == null) && (numberInWaitingList >= 1)">
    <h3>
    Der er ingen reservation. Men du er nummer {{numberInWaitingList}} i køen.
    </h3>
    <button type="button" class="btn btn-danger w-100" (click)="cancelWaitingListPosition()">Slet position</button>
  </div>
</div>
