<div class="text-center">
  <div *ngIf="(booths != null)">
    <div class="card-deck">
    <li class="cardList" *ngFor="let booth of booths" style="list-style-type: none;" >
      <div class="card" style="width: 18rem;">

        <div class="card-body">
          <h5 class="card-title">Stand nummer: {{booth.id}}</h5>
          <p class="card-text"></p>
          <app-show-reservation-booth [boothId]="booth.id"></app-show-reservation-booth>
        </div>
      </div>
    </li>
  </div>
  </div>
  <h3 *ngIf="(booths == null) && (numberInWaitingList < 1)">Der er ingen reservation.</h3>
  <div *ngIf="(booths == null) && (numberInWaitingList >= 1)">
    <h3>
    Der er ingen reservation. Men du er nummer {{numberInWaitingList}} i køen.
    </h3>
    <app-show-waiting-position></app-show-waiting-position>
  </div>

  <app-alert-message #alertMessage></app-alert-message>
</div>
